<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JakartaPustaka | About</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about-contact.css') }}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="/"><b>Jakarta</b>Pustaka</a>
        </div>
        <nav class="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                {% if id %}
                <li><a id="link-tambah" href="/staff/collection/tambah">Tambah</a></li>
                {% endif %}
                {% if id %}
                <li><a href="/staff/logout/">Logout</a></li>
                {% else %}
                <li><a href="/staff/login/">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>About</h1>
        <div class="main">
            <p><span class="tab"></span>Jakarta Pustaka didirikan pada tahun 2010 oleh Alexander Prime dengan tujuan untuk menjadi pusat literasi dan pengetahuan bagi masyarakat Jakarta.<br><br>
                
                <span class="tab"></span>Sejak awal berdirinya, Jakarta Pustaka telah berkomitmen untuk menyediakan berbagai
                koleksi buku dari berbagai genre dan bidang ilmu. Perpustakaan ini tidak hanya menawarkan
                buku-buku fisik tetapi juga menyediakan akses ke berbagai sumber daya digital, sehingga
                dapat menjangkau lebih banyak pembaca dari berbagai kalangan.</p>
            <div class="divider">
            </div>
            <p><span class="tab"></span>Jakarta Pustaka was founded in 2010 by Alexander Prime with the aim of becoming a center of literacy and knowledge for the people of Jakarta.<br><br>
                
                <span class="tab"></span>Since its inception, Jakarta Pustaka has been committed to providing a variety of services
                collection of books from various genres and fields of science. This library offers more than just that
                physical books but also provides access to a variety of digital resources, so
                can reach more readers from various circles.</p>
        </div>
    </main>
</body>
</html>