<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="/"><b>Jakarta</b>Pustaka</a>
        </div>
        <nav class="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                {% if id %}
                <li><a id="link-tambah" href="/staff/collection/tambah">Tambah</a></li>
                {% endif %}
                {% if id %}
                <li><a href="/staff/logout/">Logout</a></li>
                {% else %}
                <li><a href="/staff/login/">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="searchBar">
            <input type="text" id="searchInput" onkeyup="search()" placeholder="Cari Buku Berdasarkan ID/Judul/Pengarang">
        </div>
        <table class="collection">
            {% for row in container %}
            <div class="item">
            <tr class="row">
                <td>
                    <table class="book">
                        <tr>
                            <td class="label">ID</td>
                            <td>:</td>
                            <td class="value">{{row[0]}}</td>
                            {% if id %}
                            <td class="link-edit"><a href="/staff/collection/edit/{{row[0]}}">Edit Buku →</a></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="label">Judul</td>
                            <td>:</td>
                            <td class="value">{{row[1]}}</td>
                        </tr>
                        <tr>
                            <td class="label">Pengarang</td>
                            <td>:</td>
                            <td class="value">{{row[2]}}</td>
                        </tr>
                        <tr>
                            <td class="label">Penerbit</td>
                            <td>:</td>
                            <td class="">{{row[3]}}</td>
                        </tr>
                        <tr>
                            <td class="label">Tgl. Terbit</td>
                            <td>:</td>
                            <td class="">{{row[4]}}</td>
                        </tr>
                        <tr>
                            <td class="label">Lokasi</td>
                            <td>:</td>
                            <td class="">{{row[5]}}</td>
                        </tr>
                        <tr>
                            <td class="label">Tersedia</td>
                            <td>:</td>
                            <td class="">{{row[7]}}/{{row[6]}}</td>
                            <td class="link"><a href="/collection/{{row[0]}}">Data Buku →</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="row">
                <td class="space"></td>
            </tr>
            </div>
            {% endfor %}
        </table>
        <div class="pagination">
            <p class="page-item" id="previous"><button class="page-link" href="#">Sebelumnya</button></p>
            <p class="page-item" id="page1"><button class="page-link btn btn-link">1</button></p>
            <p class="page-item" id="page2"><button class="page-link btn btn-link">2</button></p>
            <p class="page-item" id="page3"><button class="page-link btn btn-link">3</button></p>
            <p id="next"><button class="page-link" href="#">Selanjutnya</button></p>
        </div>
    </main>
    <!-- Pagination -->
    <footer>
        
    </footer>
<script>
    var currentPage = 1;
    var itemsPerPage = 10 *2;
    var totalRows = document.querySelectorAll('.row').length;

    function displayData(page) {
        var startIndex = (page - 1) * itemsPerPage;
        var endIndex = startIndex + itemsPerPage;

        var rows = document.querySelectorAll('.row');
        for (var i = 0; i < rows.length; i++) {
            if (i >= startIndex && i < endIndex) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }

    function updatePaginationButtons() {
            var totalPages = Math.ceil(totalRows / itemsPerPage);
            var page1 = document.getElementById('page1');
            var page2 = document.getElementById('page2');
            var page3 = document.getElementById('page3');

            if (currentPage <= 3) {
                page1.innerHTML = '<button class="page-link btn btn-link">1</button>';
                page2.innerHTML = '<button class="page-link btn btn-link">2</button>';
                page3.innerHTML = '<button class="page-link btn btn-link">3</button>';
            } else {
                page1.innerHTML = '<button class="page-link btn btn-link">' + (currentPage - 1) + '</button>';
                page2.innerHTML = '<button class="page-link btn btn-link">' + currentPage + '</button>';
                page3.innerHTML = '<button class="page-link btn btn-link">' + (currentPage + 1) + '</button>';
            }
        }

    displayData(currentPage);
    updatePaginationButtons();

    document.getElementById('previous').addEventListener('click', function() {
        if (currentPage > 1) {
            currentPage--;
            displayData(currentPage);
            updatePaginationButtons();
        }
    });

    document.getElementById('next').addEventListener('click', function() {
        if (currentPage < Math.ceil(totalRows / itemsPerPage)) {
            currentPage++;
            displayData(currentPage);
            updatePaginationButtons();
        }
    });

    document.getElementById('page1').addEventListener('click', function() {
        currentPage = parseInt(this.textContent);
        displayData(currentPage);
        updatePaginationButtons();
    });

    document.getElementById('page2').addEventListener('click', function() {
        currentPage = parseInt(this.textContent);
        displayData(currentPage);
        updatePaginationButtons();
    });

    document.getElementById('page3').addEventListener('click', function() {
        currentPage = parseInt(this.textContent);
        displayData(currentPage);
        updatePaginationButtons();
    });

    // Fungsi pencarian
    function search() {
        var input, filter, books, value, txtValue;
        input = document.getElementById('searchInput');
        filter = input.value.toUpperCase();
        items = document.querySelectorAll(".row");
        books = document.getElementsByClassName("item");
        values = document.getElementsByClassName("value");
        for (i = 0; i < items.length/2; i++) {
            var display = "no";
            for (j = i*3; j < i*3 + 3; j++) {
                if (values[j].textContent.toUpperCase().includes(filter)) {
                    display = "yes";
                }
            }
            if (display == "yes") {
                items[i*2].style.display = "";
                items[i*2 + 1].style.display = "";
            } else {
                items[i*2].style.display = "none";
                items[i*2 + 1].style.display = "none";
            }
        }
        currentPage = 1; // Reset ke halaman pertama setelah pencarian
        updatePaginationButtons();
    }

    // document.getElementById('searchInput').addEventListener('keyup', function() {
    //     var searchText = this.value.toLowerCase();
    //     var items = document.querySelectorAll('.item');
    //     var rows = document.querySelectorAll('.book');
    //     for (var i = 0; i < rows.length; i++) {
    //         var rowText = rows[i].textContent.toLowerCase();
    //         if (rowText.includes(searchText)) {
    //             items[i].style.display = "";
    //         } else {
    //             items[i].style.display = "none";
    //         }
    //     }
    //     currentPage = 1; // Reset ke halaman pertama setelah pencarian
    //     updatePaginationButtons();
    // });
</script>
</body>
</html>