* {
    box-sizing: border-box;
}

body {
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 50px 26px;
    background-color: white;
    border-bottom: 1px rgb(239, 60, 60) solid;
}

.logo a {
    font-size: xx-large;
    color: rgb(214, 18, 0);
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    text-decoration: none;
}

.navigation ul {
    display: flex;
    list-style: none;
}

.navigation ul li a {
    font-family: 'Trebuchet MS', sans-serif;
    color:rgb(214, 18, 0);
    margin-left: 20px;
    text-decoration: none;
}

.navigation ul li a:hover {
    font-family: 'Trebuchet MS', sans-serif;
    color:maroon;
    margin-left: 20px;
    text-decoration: none;
}

#link-tambah{
    color: rgb(44, 24, 172);
    text-decoration: none;
}

#link-tambah:hover {
    color: rgb(13, 13, 69);
}

.link {
    margin: 3.1% 17%;
    margin-bottom: -4%;
    font-size: .95rem;
}

.link a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: rgb(214, 18, 0);
} 

.link a:hover {
    font-style: italic;
    color: maroon;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color:rgb(29, 29, 29)
}

main h1 {
    font-family: "Jost", 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 2.3rem;
}

.divider {
    border: 1px rgb(60, 60, 60) solid;
    margin: 0 0 3% 0;
}

.divider-bottom {
    border: 1px rgb(60, 60, 60) solid;
    margin: 3% 0 0 0;
}

.book {
    font-size: .9rem;
}

.book td{
    padding: 2px;
    border: 0;
}

.book .label {
    width: 15%;
}

.book .value {
    width: 81%;
}

.book .space {
    width: 0;
}

.options {
    display: flex;
    justify-content: right;
    margin: 4% 0;
}

.options button {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 0.95rem;
    padding: 9px 14px;
    margin-left: 0.7em;
    border-radius: 6px;
    background-color: white;
}

#print-button {
    border: 2px rgb(42, 42, 42) solid;
    color: rgb(42, 42, 42);
}

#print-button:hover {
    background-color: rgb(200, 200, 200);
}

#edit-button {
    border: 2px rgb(36, 76, 186) solid;
    color: rgb(36, 76, 186);
}

#edit-button:hover {
    background-color: rgb(215, 226, 255);
}

#delete-button {
    border: 2px rgb(233, 14, 14) solid;
    color: rgb(233, 14, 14);
}

#delete-button:hover {
    background-color: rgb(255, 195, 195);
}
/* 
#print-button {
    background-color: rgb(110, 110, 110);
    color: rgb(255, 255, 255)
}

#print-button:hover {
    background-color: rgb(87, 87, 87);
}

#edit-button {
    background-color: rgb(73, 115, 230);
    color: white;
}

#edit-button:hover {
    background-color: rgb(36, 76, 186);
}

#delete-button {
    background-color: rgb(231, 51, 51);
    color: rgb(255, 248, 248);
}

#delete-button:hover {
    background-color: rgb(171, 26, 26);
} */