* {
    box-sizing: border-box;
}

body {
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
    background-color: white;
    border-bottom: 1px rgb(239, 60, 60) solid;
}

.logo a {
    font-size: xx-large;
    color: rgb(214, 18, 0);
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    text-decoration: none;
}

.navigation ul {
    display: flex;
    list-style: none;
}

.navigation ul li {
    font-family: 'Trebuchet MS', sans-serif;
    color:rgb(214, 18, 0);
    margin-left: 20px;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.searchBar {
    text-align: center;
}

.searchBar input[type=text] {
    padding: 6px;
    border: 1px gray solid;
    font-size: 17px;
    width: 70%;
    margin: 3%;
}

.collection {
    margin: auto;
    border: 1px rgb(214, 18, 0) solid;
    /* background-color: rgb(239, 60, 60); */
    padding: 12px;
    padding-bottom: 0;
    border-radius: 5px;
    width: 80%;
}

.collection td {
    color: black;
    padding: 5px;
    border: 1px rgb(214, 18, 0) solid;
    background-color: white;
    margin-bottom: 20px;
}

.collection .space {
    border: 0;
}

.book td{
    padding: 2px;
    border: 0;
}

.book .label {
    width: 15%;
}

.book .value {
    width: 75%;
}